html{
      height: 100%;
}

body{
	margin:0px;
	font-family: Times New Roman; 
}

main{
  	min-height: 100vh;
        
}

header{
	text-align: center;
}


h1, h2{
	color: black ;
	
}

h1{
	border-bottom:	1px solid black;
}

p{
	text-align: left;
	color: black;
	font-size: .9375em;
	line-height: 1.6;
	overflow: auto;
}

nav{
	border-width: 	thin;
	border-style:	solid;
	border-color:	#007e7e;
	width:		180px;
        height:		100vh;
	background-color: #0586ba;
	float:	left;
	margin-right:	10px;
	font-size: 1em;
	line-height: 1.5;
	vertical-align: left;
	color:	white;    
	
}

nav a{
	color: white;
}



nav figure, figcaption{
	display:block;
	font-size:small;
	line-height: 1;
	text-align: center;
	margin-left:0;

}

address {
	color: black;
	font-size: .75em;
	line-height: 1;
}

ul {
	list-style-type: none;
	
}

ul.h_menu li{
	display: inline;
	padding: 0 20px 0 20px;
	width:100%;
	border: solid;
        background: #4fb7ff;
	font-size:0.9em;
	font-family: Arial;	
	font-weight: bold;
	

}

li.h_menu {
    border-right: 0.9px solid #bbb;
}

li.h_menu :last-child {
    border-right: none;
}
   

.h_menu a:hover {
    background: #ffa;
	color: #333;
}

ul.f_menu li{
	display: inline;
	padding: 30px;
	width: 100%;

}


ul a{
	color: white;

}


footer ul{

    bottom:0;
    width: 100%;
    height:22px; 
    background:#0586ba;
    font-size: .9em; 
    text-align: center;
    margin-bottom = -15;
}
